@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    @keyframes fadeIn {
      from { opacity: 0; }
      to { opacity: 1; }
    }
    .animate-fade-in {
      animation: fadeIn 0.5s ease-out;
    }
  }

/* Compatibilidad para appearance en botones y campos de búsqueda */
button,
input[type='button'],
input[type='reset'],
input[type='submit'] {
  -webkit-appearance: button;
  appearance: button;
}

[type='search'] {
  -webkit-appearance: textfield;
  appearance: textfield;
}